@model FactuCR.Models.Family

@{
    ViewData["Title"] = "FCR - Eliminar Familia";
    ViewData["PanelTitle"] = "¿Seguro que desea eliminar esta Familia?";
    ViewData["Annotation"] = "Cuando los datos son borrados, no pueden ser recuperados";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}



<dl class="dl-horizontal">
    <dt>
        Nombre
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        Descripci&oacute;n
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>

<div class="ln_solid"></div>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdFamily" />
    <button type="submit" value="Eliminar" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>
    <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Cancelar</a>
</form>

