@model FactuCR.Models.Login.Login
@{
    ViewData["Title"] = "Entrar";
}

<div class="container min-h-full">

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-4 mx-auto text-center">
                <img src="@Href("~/Images/FactuCR.PNG")" class="img-fluid" alt="Logo">
            </div>

        </div>
        @if (TempData["UserLoginFailed"] != null)
        {
            <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title text-center">Entrar al Sistema</div>
            </div>

            <div class="panel-body">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input asp-for="UserName" class="form-control" placeholder="Usuario" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input asp-for="Pwd" class="form-control" placeholder="Contraseña" />
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Entrar</button>
                        </div>
                    </div>
                    </form>
</div>
        </div>
    </div>
    </div>

