@model FactuCR.Models.ConfigCompaniesManagement

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<form asp-action="Create" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="configCompany.FullName" class="control-label col-md-4 col-sm-4 col-xs-12">Nombre Completo</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.FullName" class="form-control" />
            <span asp-validation-for="configCompany.FullName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.IdType" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <select id="idtype-select" asp-for="configCompany.IdType" class="form-control" asp-items="ViewBag.IdType">
                <option selected disabled>- Seleccione una opcion -</option>
            </select>
            <span asp-validation-for="configCompany.IdType" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label id="idnum-label" asp-for="IdentificationNumberCedJuridica" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input id="cedfisica-input" asp-for="IdentificationNumberCedFisica" class="form-control" data-inputmask="'mask': '9-9999-9999'" />
            <span asp-validation-for="IdentificationNumberCedFisica" class="text-danger"></span>

            <input id="cedjuridica-input" asp-for="IdentificationNumberCedJuridica" class="form-control" data-inputmask="'mask': '9-999-999999'" />
            <span asp-validation-for="IdentificationNumberCedJuridica" class="text-danger"></span>

            <input id="nite-input" asp-for="IdentificationNumberNITE" class="form-control" />
            <span asp-validation-for="IdentificationNumberNITE" class="text-danger"></span>

            <input id="dimex-input" asp-for="IdentificationNumberDIMEX" class="form-control" />
            <span asp-validation-for="IdentificationNumberDIMEX" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.CompannyName" class="control-label col-md-4 col-sm-4 col-xs-12">Nombre Compañia</label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.CompannyName" class="form-control" />
            <span asp-validation-for="configCompany.CompannyName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Email" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.Email" class="form-control" />
            <span asp-validation-for="configCompany.Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Telephone" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.Telephone" class="form-control" />
            <span asp-validation-for="configCompany.Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="configCompany.Fax" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.Fax" class="form-control" />
            <span asp-validation-for="configCompany.Fax" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Province" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.Province" class="form-control" />
            <span asp-validation-for="configCompany.Province" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Canton" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.Canton" class="form-control" />
            <span asp-validation-for="configCompany.Canton" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.District" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.District" class="form-control" />
            <span asp-validation-for="configCompany.District" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.OtherSigns" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.OtherSigns" class="form-control" />
            <span asp-validation-for="configCompany.OtherSigns" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.Country" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.Country" class="form-control" />
            <span asp-validation-for="configCompany.Country" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.UserTax" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.UserTax" class="form-control" />
            <span asp-validation-for="configCompany.UserTax" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.PasswordTax" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.PasswordTax" class="form-control" />
            <span asp-validation-for="configCompany.PasswordTax" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Currency.Name" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="Currency.Name" class="form-control" />
            <span asp-validation-for="Currency.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="configCompany.CurrencyValue" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <input asp-for="configCompany.CurrencyValue" class="form-control" />
            <span asp-validation-for="configCompany.CurrencyValue" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#idnum-label').hide();
        $('#cedfisica-input').hide();
        $('#cedjuridica-input').hide();
        $('#nite-input').hide();
        $('#dimex-input').hide();

        $('select').change(function () {
            $('#idnum-label').hide();
            $('#cedfisica-input').hide();
            $('#cedjuridica-input').hide();
            $('#nite-input').hide();
            $('#dimex-input').hide();

            if ($(this).val() === "1") {
                $('#idnum-label').show("slow");
                $('#cedfisica-input').show("slow");
            }

            if ($(this).val() === "2") {
                $('#idnum-label').show("slow");
                $('#cedjuridica-input').show("slow");
            }

            if ($(this).val() === "3") {
                $('#idnum-label').show("slow");
                $('#nite-input').show("slow");
            }

            if ($(this).val() === "4") {
                $('#idnum-label').show("slow");
                $('#dimex-input').show("slow");
            }
        })
    });
</script>

