/* always take 100% of the window */
html {
    height: 100%;
}

body {
    min-height: 100%;
    min-width: 596px;
}
/* finish */

.label-success {
    background-color: #1ABB9C !important;
}

.label-success:hover {
    background-color: #169F85 !important;
}

.label-default {
    color: black !important;
    border: 0.5px solid #ADADAD;
    background-color: white;
}

.label-default:hover {
    background-color: #E6E6E6 !important;
}