@model FactuCR.Models.Client

@{
    ViewData["Title"] = "Create";
}

<h2>Ingresar</h2>

<h4>-Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Primer Nombre</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label">Segundo Nombre</label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientType" class="control-label">Tipo de Cliente</label>
                <input asp-for="ClientType" class="form-control" />
                <span asp-validation-for="ClientType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-10">
                <label asp-for="Gender" class="control-label">Genero   </label>
                <span asp-validation-for="Gender" class="text-danger">

                    Male
                    @Html.RadioButtonFor(model => model.Gender, "Male")
                    Female
                    @Html.RadioButtonFor(model => model.Gender, "Female")
                </span>
            </div>

            <div class="form-group col-md-10">
                <label asp-for="Birthdate" class="control-label">Fecha de nacimiento </label>
                <input asp-for="Birthdate" class="form-control  " />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>

            <div class="form-group col-md-10">
                <label asp-for="EntityIdEntity" class="control-label"></label>
                <select asp-for="EntityIdEntity" class ="form-control" asp-items="ViewBag.EntityIdEntity"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
