@model FactuCR.Models.Category

@{
    ViewData["Title"] = "Delete";
    ViewData["PanelTitle"] = "¿Seguro que desea eliminar esta categoria?";
    ViewData["Annotation"] = "cuando los datos son borrados, no pueden ser recuperados";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>
<div class="ln_solid"></div>
<form asp-action="Delete">
    <input type="hidden" asp-for="IdCategory" />
    <button type="submit" value="Eliminar" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>
    <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left" aria-hidden="true"></i> Cancelar</a>
</form>
