@model FactuCR.Models.ClientType

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section Styles {
    <link href="~/css/definition-lists.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <!-- Init Panel Title -->
            <div class="x_title">
                <h2>¿Seguro que desea eliminar este tipo de cliente? <small>Una vez eliminado, los datos no pueden ser recuperados</small></h2>
                <!-- Top Right Tools Menu -->
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <!-- Finish Top Right Tools Menu -->
                <div class="clearfix"></div>
            </div>
            <!-- Finish Panel Title -->
            <!-- Init Panel Content -->
            <div class="x_content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Code)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Code)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
                <div class="ln_solid"></div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdClientType" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-default">Regresar a la lista</a>
                </form>
            </div>
            <!-- Finish Panel Content -->
        </div>
    </div>
</div>
