
@{
    ViewData["Title"] = "FCR - Manual Usuario";
    ViewData["PanelTitle"] = "Manual de Usuario";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div id="formUploadedContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <embed src="~/pdfs/FE_ManualUsuario.pdf" type="application/pdf" height="650" style="width: 100%;" />
</div>
