@model FactuCR.Models.BranchOffice

@{
    ViewData["Title"] = "FCR - Eliminar Sucursal";
}

<h4>Eliminar</h4>

<h3>¿Esta seguro que desea eliminar la sucrusal?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Sucursal:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Número Sucursal:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOffice" />
        <input type="submit" value="Eliminar Sucursal" class="btn btn-default" /> |
        <a asp-action="Index">Regresar a lista</a>
    </form>
</div>
