@model FactuCR.Models.BranchOffice

@{
    ViewData["Title"] = "Details";
}

<h4>Detalles</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            Nombre sucursal: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           Número de Sucursal
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OfficeNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOffice">Modificar</a> |
    <a asp-action="Index">Regresar a lista</a>
</div>
