@model FactuCR.Models.BranchOffice

@{
    ViewData["Title"] = "FCR - Editar Sucursal";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h4>Editar Sucursal</h4>

<form asp-action="Edit" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdOffice" />


    <div class="form-group">
        <label asp-for="Name" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre Sucursal</label>
        <div class="control-label col-md-3 col-sm-3 col-xs-12">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="OfficeNumber" class="control-label col-md-3 col-sm-3 col-xs-12"> Número Sucursal</label>
        <div class="control-label col-md-3 col-sm-3 col-xs-12">
            <input asp-for="OfficeNumber" class="form-control" data-inputmask="'mask':'999'" />
            <span asp-validation-for="OfficeNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-default" />
    </div>
</form>

<div>
    <a asp-action="Index">Regresar a lista de sucursales</a>
</div>

