@model FactuCR.Models.ProductManagement

@{
    ViewData["PanelTitle"] = "Ingresar Producto";
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<form id="new-product-form" asp-action="Create" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Product.CodeProduct" class="control-label col-md-3 col-sm-3 col-xs-12">Codigo del producto <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.CodeProduct" class="form-control" />
            <span asp-validation-for="Product.CodeProduct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.NameProduct" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre del producto <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.NameProduct" class="form-control" />
            <span asp-validation-for="Product.NameProduct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Status" class="control-label col-md-3 col-sm-3 col-xs-12">Estado <span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div id="status" class="btn-group" data-toggle="buttons">
                <label class="btn btn-success active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <input type="radio" name="status" value="1" asp-for="Product.Status" /> &nbsp; Activo &nbsp;
                    <span asp-validation-for="Product.Status" class="text-danger"></span>
                </label>
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                    <input type="radio" name="status" value="0" asp-for="Product.Status" /> Inactivo
                    <span asp-validation-for="Product.Status" class="text-danger"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.SalePrice" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.SalePrice" class="form-control" />
            <span asp-validation-for="Product.SalePrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.CostPrice" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.CostPrice" class="form-control" />
            <span asp-validation-for="Product.CostPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProfitPercentage" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.ProfitPercentage" class="form-control" />
            <span asp-validation-for="Product.ProfitPercentage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Quantity" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.Quantity" class="form-control" />
            <span asp-validation-for="Product.Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.Barcode" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Product.Barcode" class="form-control" />
            <span asp-validation-for="Product.Barcode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.IdTax" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Product.IdTax" class="form-control" asp-items="ViewBag.IdTax"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.IdProvider" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Product.IdProvider" class="form-control" asp-items="ViewBag.IdProvider"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.IdUnit" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Product.IdUnit" class="form-control" asp-items="ViewBag.IdUnit"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.IdDiscount" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Product.IdDiscount" class="form-control" asp-items="ViewBag.IdDiscount"></select>
        </div>
    </div>
    <div id="current-category-container" class="form-group">
        <label asp-for="IdCurrentCategory" class="control-label col-md-3 col-sm-3 col-xs-12">Categoria</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="category-select" asp-for="IdCurrentCategory" class="form-control" asp-items="ViewBag.IdCategory">
                <option disabled selected>- seleccione una opcion -</option>
                <option value="0">Crear nueva categoria</option>
            </select>
        </div>
        <span asp-validation-for="IdCurrentCategory" class="text-danger"></span>
    </div>
    <div id="new-category-container" class="jumbotron col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3" style="padding: 10px; margin-right: 100%;">
        <div class="form-group">
            <label asp-for="NameNewCategory" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre <span class="required">*</span></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="NameNewCategory" id="category-input" class="form-control" />
                <span asp-validation-for="NameNewCategory" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NameNewCategory" class="control-label col-md-3 col-sm-3 col-xs-12">Descripcion</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="NameNewCategory" id="category-input" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.IdCurrency" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="Product.IdCurrency" class="form-control" asp-items="ViewBag.IdCurrency"></select>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-md-6 col-xs-12 col-md-offset-3">
            <input type="submit" value="Guardar Producto" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-default">Lista de productos</a>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#new-category-container').hide();
        $('select[id="category-select"]').change(function () {
            if ($(this).val() == "0") {
                $('#new-category-container').show('slow');
            } else {
                $('#new-category-container').hide('slow');
            }
        })
    });
</script>

<!-- For client side validation -->
<script src="~/vendor/jquery-validation-1.17.0/dist/jquery.validate.min.js"></script>
<script src="~/vendor/jquery-validation-1.17.0/dist/jquery.validate.unobtrusive.min.js"></script>
