@model FactuCR.Models.Product

@{
    ViewData["Title"] = "FCR - Editar Producto";
    ViewData["PanelTitle"] = "Edición de Producto";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<form asp-action="Edit" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdProduct" />
    <div class="form-group">
        <label asp-for="CodeProduct" class="control-label col-md-3 col-sm-3 col-xs-12">C&oacute;digo del producto *</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="CodeProduct" class="form-control" />
            <span asp-validation-for="CodeProduct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NameProduct" class="control-label col-md-3 col-sm-3 col-xs-12">Nombre del producto *</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="NameProduct" class="form-control" />
            <span asp-validation-for="NameProduct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label col-md-3 col-sm-3 col-xs-12">Descripci&oacute;n</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label col-md-3 col-sm-3 col-xs-12">Estado *</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Barcode" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Barcode" class="form-control" />
            <span asp-validation-for="Barcode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdProvider" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdProvider" class="form-control" asp-items="ViewBag.IdProvider"></select>
            <span asp-validation-for="IdProvider" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdUnit" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdUnit" class="form-control" asp-items="ViewBag.IdUnit"></select>
            <span asp-validation-for="IdUnit" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdCategory" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
            <span asp-validation-for="IdCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Informaci&oacute;n de venta</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="well" style="overflow: hidden;">
                <label asp-for="IdCurrency" style="text-align: left;" class="control-label col-md-12 col-sm-12 col-xs-12">Moneda *</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select asp-for="IdCurrency" class="form-control" asp-items="ViewBag.IdCurrency"></select>
                    <span asp-validation-for="IdCurrency" class="text-danger"></span>
                </div>
                <label asp-for="IdTax" style="text-align: left;" class="control-label col-md-12 col-sm-12 col-xs-12"></label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select asp-for="IdTax" class="form-control" asp-items="ViewBag.IdTax"></select>
                    <span asp-validation-for="IdTax" class="text-danger"></span>
                </div>
                <label asp-for="CostPrice" style="text-align: left;" class="control-label col-md-12 col-sm-12 col-xs-12">Precio de costo *</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="costPrice-input" asp-for="CostPrice" class="form-control" />
                    <span asp-validation-for="CostPrice" class="text-danger"></span>
                </div>
                <label asp-for="ProfitPercentage" style="text-align: left;" class="control-label col-md-12 col-sm-12 col-xs-12">Porcentaje de ganancia *</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="profitPercentage-input" asp-for="ProfitPercentage" class="form-control" />
                    <span asp-validation-for="ProfitPercentage" class="text-danger"></span>
                </div>
                <label style="text-align: left;" class="control-label col-md-12 col-sm-12 col-xs-12">Descuento *</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <select asp-for="IdDiscount" class="form-control" asp-items="ViewBag.IdDiscount"></select>
                    <span asp-validation-for="IdDiscount" class="text-danger"></span>
                </div>
                <label asp-for="SalePrice" style="text-align: left;" class="control-label col-md-12 col-sm-12 col-xs-12">Precio de venta *</label>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input id="salePrice-input" asp-for="SalePrice" class="form-control" readonly />
                    <span asp-validation-for="SalePrice" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar cambios</button>
            <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left"></i> Cancelar</a>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#costPrice-input').keyup(function () {
            $('#salePrice-input').val($('#costPrice-input').val());
            calculateSalePrice();
        });
        $('#profitPercentage-input').keyup(function () {
            calculateSalePrice();
        });
    });

    function calculateSalePrice() {
        if (($('#costPrice-input').val() != "") && ($('#profitPercentage-input').val() >= 0)) {
            var decimalProfit = $('#profitPercentage-input').val() / 100;
            var profitPrice = $('#costPrice-input').val() * decimalProfit;

            $('#salePrice-input').val(parseFloat($('#costPrice-input').val()) + profitPrice);
        }
    }
</script>
