@model FactuCR.Models.Product

@{
    ViewData["Title"] = "Edit";
    ViewData["PanelTitle"] = "Modificación de Producto";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<form asp-action="Edit" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="IdProduct" />
    <div class="form-group">
        <label asp-for="CodeProduct" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="CodeProduct" class="form-control" />
            <span asp-validation-for="CodeProduct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NameProduct" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="NameProduct" class="form-control" />
            <span asp-validation-for="NameProduct" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Status" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SalePrice" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="SalePrice" class="form-control" />
            <span asp-validation-for="SalePrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="CostPrice" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="CostPrice" class="form-control" />
            <span asp-validation-for="CostPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ProfitPercentage" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="ProfitPercentage" class="form-control" />
            <span asp-validation-for="ProfitPercentage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Quantity" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Barcode" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input asp-for="Barcode" class="form-control" />
            <span asp-validation-for="Barcode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdTax" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdTax" class="form-control" asp-items="ViewBag.IdTax"></select>
            <span asp-validation-for="IdTax" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdProvider" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdProvider" class="form-control" asp-items="ViewBag.IdProvider"></select>
            <span asp-validation-for="IdProvider" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdUnit" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdUnit" class="form-control" asp-items="ViewBag.IdUnit"></select>
            <span asp-validation-for="IdUnit" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdDiscount" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdDiscount" class="form-control" asp-items="ViewBag.IdDiscount"></select>
            <span asp-validation-for="IdDiscount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdCategory" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
            <span asp-validation-for="IdCategory" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IdCurrency" class="control-label col-md-4 col-sm-4 col-xs-12"></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select asp-for="IdCurrency" class="form-control" asp-items="ViewBag.IdCurrency"></select>
            <span asp-validation-for="IdCurrency" class="text-danger"></span>
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-4">
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar cambios</button>
        </div>
    </div>
    <div>
        <div class="col-md-12 col-xs-12 col-sm-12">
            <a asp-action="Index" class="btn btn-default"><i class="fa fa-caret-square-o-left"></i> Cancelar</a>
        </div>
    </div>
</form>


