@model FactuCR.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Modificaci&oacute;n de producto <small>complete los campos que desea modificar</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Init product modification form -->
                <form id="modifyProductForm" class="form-horizontal form-label-left" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdProduct" />
                    <div class="form-group">
                        <label asp-for="IdUser" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdUnit" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Unidad de medida
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select asp-for="IdUnit" class="form-control" asp-items="ViewBag.IdUnit" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdBrand" class="control-label col-md-3 col-sm-3 col-xs-12">
                            Marca comercial
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select asp-for="IdBrand" class="form-control" asp-items="ViewBag.IdBrand" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdTax" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select asp-for="IdTax" class="form-control" asp-items="ViewBag.IdTax" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Name" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="KindCode" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="KindCode" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Status" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CostPrice" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="CostPrice" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Description" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Barcode" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input asp-for="Barcode" class="form-control" />
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <input type="submit" value="Guardar cambios" class="btn btn-success" />
                    </div>
                </form>
                <!-- Finish product modification form -->
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index" class="btn btn-default">Volver a la lista de productos</a>
</div>

<!-- validation -->
<script src="~/vendor/Parsley.js-2.8.1/dist/parsley.min.js"></script>
<script src="~/vendor/Parsley.js-2.8.1/dist/i18n/es.js"></script>
<script>
    $('#modifyProductForm').parsley();
</script>